* { /*Intégration des propriétés Box-sizing à tous les éléments */
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
 }

 body {
    margin: 0;
    @include main-font;
    font-size: 18px;
 }

main {
    background-color: #f6f6f6 ;
 }
h1 {
    font-weight: 700;
}

h2 {
   font-size: 20px;
   color: black;
   margin: 0;
   padding: 5px 0;
}

h3 {
   @include secondary-font;
   font-size: 26px;
   margin: 10px 0 0 0px;
}

h4 {
   text-transform: uppercase;
   margin: 0;
   font-weight: 300;
   font-size: 16px;
}

h5 {
   margin: 0;
   font-size: 17px;
   font-weight: 500;
}

p {
   margin: 0;
   font-size: 16px;
   font-weight: 100;
}
.card__header p {
   font-size: 14px;
   margin: 5px 0 0 0;
}

.p-price {
   font-weight: 500;
}

a {
   text-decoration:none; 
   color: black;
}

footer a {
   color: white;
}

.footer {
   background-color: $color-background-footer ;
   color: white;

   &__logo {
      @include secondary-font;
   }
}