.fonction {
    padding: 30px 20px;
    background-color: white;
    
    &__list {
        list-style: none;
        padding: 0;
        counter-reset: fonction-counter 0;
        
        @include tablet-desktop {
            display: flex;
            justify-content: space-between;
        }
    }
}
.list{
    padding: 20px 20px 20px 5px;
    margin: 15px 5px 30px 15px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 5px 5px #ececec;
    background-color: #f7f6f6;
    cursor: pointer;
    
    @include tablet-desktop {
        width: 30%;
    }

    &:hover {
        background-color:$color-background-fonct-hover;
        transition-duration: 400ms;
    }

    &:hover > .list__icone {
        color: $color-primary;
    }

    &__texte {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__icone {
    display: flex;
    margin-right: 20px;
    color: #717171; 
    }

    &::before {
        counter-increment: fonction-counter 1;
        content: counter(fonction-counter);
        border: $color-invisible;
        border-radius: 100%;
        background-color:$color-primary;
        padding: 4px 9px;
        color: white;
        position:relative;
        left: -20px;
    }
}