@mixin center-element{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@mixin center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin column-flex {
    display: flex;
    flex-direction: column;
}

@mixin  overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}