@mixin center-element{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

@mixin center-flex{
    display: flex;
    justify-content: center;
}

@mixin column-flex {
    display: flex;
    flex-direction: column;
}

@mixin  overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin main-font {
    font-family:'Roboto',Impact,'Arial Black', Arial, Verdana, sans-serif; 
}

@mixin secondary-font {
    font-family:'Shrikhand',Impact,'Arial Black', Arial, Verdana, sans-serif;
}

@mixin border-top-loader($colour){
    border-top:5px solid $colour;
}

@mixin border-bottom-loader($colour){
    border-bottom:5px solid $colour;
}

@mixin border-right-loader($colour){
    border-right:5px solid $colour;
}

@mixin border-left-loader($colour){
    border-left:5px solid $colour;
}

@mixin mobile-only {
    @media  screen and (min-width: map-get($breakpoints, mobile)) {
        @content;   
    }
}