.mainform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
    background-color: #eaeaea;
    padding: 10px 0;
    box-shadow: inset 0 3px 4px #d3d3d3;
}

.form {
    &__position {
      width: 150px;
      border: none;
      font-size: 16px;
      padding: 0 10px;
      background-color: #eaeaea;

        &::placeholder {
            color: #353535;;
            opacity: 1;
        }
    }
    &__icone {
        color: #353535;
    }
}