.mainform {
    @include center-flex;
    width: 100%;
    gap: 15px;
    background-color:$color-background;
    padding: 10px 0;
    box-shadow: inset 0 3px 4px $color-shadow;
}

.form {
    &__position {
      width: 150px;
      border: none;
      font-size: 16px;
      padding: 0 10px;
      background-color:$color-background;

        &::placeholder {
            color:$color-form;
            opacity: 1;
        }
    }
    &__icone {
        color: $color-form;
    }
}